<section class="about">
  <div>
    <figure class="about_media">
      <img
        src="assets/logo_big.png"
        alt="Recipe4U big logo"
        class="about_image"
      />
    </figure>

    <div class="about_content">
      <h1 class="about_headline">Cooking smarter, wasting less</h1>
      <p>
        Recipe4U is a smart web application designed to assist users in discovering 
        relevant meals based on the ingredients they already have, while also aiming
        to reduce food waste.
      </p>
      <p>
        The application relies on a content-based filtering approach and integrates
        Natural Language Processing (NLP) techniques to preprocess and match user
        input with recipes from a structured dataset.
      </p>
      <p>
        Food waste has become a critical global concern, even at the household level because
        a significant proportion of edible food is unnecessarily discarded.
        Motivated by this, Recipe4U aims to empower users to make the most of their ingredients and minimize waste.
      </p>
      <p class="about_end">Thank you for using Recipe4U! :)</p>
    </div>
  </div>
</section>
