<ng-container *ngIf="recipe$ | async as r; else loading">
  <h2 mat-dialog-title>{{ r.title }}</h2>

  <mat-dialog-content class="recipe-details">
    <p></p>
    <h3>Ingredients</h3>
    <ul>
      <li *ngFor="let i of r.ingredients">{{ i }}</li>
    </ul>

    <h3>Directions</h3>
    <ol>
      <li *ngFor="let step of r.directions">{{ step }}</li>
    </ol>

    <p *ngIf="r.link">
      <strong>Link: </strong>
      <a [href]="r.link" target="_blank" rel="noopener">open original</a>
    </p>
    <p *ngIf="r.source"><strong>Source:</strong> {{ r.source }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
  </mat-dialog-actions>
</ng-container>

<ng-template #loading>
  <div class="loader">Loading…</div>
</ng-template>
