<div *ngIf="loading" class="loader-container">
  <ng-lottie [options]="lottieOptions"></ng-lottie>
</div>

<div *ngIf="!loading" class="cards">
  <mat-card *ngFor="let r of recipes" (click)="openDialog(r.recipe_id)" class="recipe-card">
    <mat-card-title>{{ r.title }}</mat-card-title>

    <mat-card-content>
      <p class="p-ingredients">Ingredients: {{ r.ingredients.join(', ') }}</p>
      <p *ngIf="r.has_missing_ingredients" class="missing">
        Note: You are missing some ingredients for this recipe.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="paginator">
  <button mat-stroked-button
          (click)="prevPage()"
          [disabled]="currentPage === 0 || loading">
    ‹ Prev
  </button>

  <span class="page-indicator">
    Page {{ currentPage + 1 }}
  </span>

  <button mat-stroked-button color="primary"
          (click)="nextPage()"
          [disabled]="!hasMore || loading">
    Next ›
  </button>
</div>