.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.missing {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  width: 100%;
}

ng-lottie {
  display: block;
  width: 200px;  
  height: 200px;
}

