.app-header {
  padding: 0.5rem 1rem;
  background-color: #095d63;
  position: sticky;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img-logo {
    width: 140px;
    height: 40px;
    
  }

  .nav-links {
    a {
      margin-left: 1rem;
      text-decoration: none;
      color: #ffefe0;
      &.active {
        text-decoration: underline;
      }
    }
  }
}
