/* You can add global styles to this file, and also import other style files */


html {
  background: linear-gradient(1deg,rgba(9, 93, 99, 1) 0%, rgba(255, 239, 224, 1) 90%) fixed;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background:transparent; }
html.recipes-bg {
  background: #ffffff fixed;    
}